/**
Divs generales 
*/
div#content{
    margin-left: 25%;
    margin-right:  25%;
    margin-top: 8%;
    background-color: #EEF5E8;
    border-style: solid;
    border-color: #898989;
    border-radius: 12px;
}

body::before { 
    content: " ";
    font-weight: bold;
    z-index: -99999999;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 99%;
    padding: 0;
    position: fixed;
    top: 0;
    left: 8px;
}

body{
    background: url(images/1.jpg) no-repeat center top fixed;
    width: 100%;
    height: 616px;
    overflow:hidden;
    text-align: center;
    margin:auto;
}

div#encendido{
    width: 100%;
    margin-top: 10px;
    text-align: right;
}

div#pantalla{
    width: 75%;
    height: 70%;
    text-align: right;
    background-color: #FFF;
    margin: auto;
    margin-top: 5%;
    border-style: solid;
    border-color: #DFDFDF; 
}

div#botones{
    margin: auto;
    margin-top:  10px;
    width: 80%;
}



/**Boton de encendido y apagado*/
.btnEncendido{
    width: 10%;
    font-size:80%; 
    margin-right: 12%;
    margin-top:  5%;
}

/**Tablas de los botones*/

table{
    margin: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 24px;
}

table#btnOperaciones{
    margin-top: 5px;
}

tabletr#btnOperaciones{
    margin: 2px;
} 



/**Clases de los botones de memoria*/
.btnMemoria{
    width:  80%;
    color: #fff;
}

.btnGuardarMemoria{
    background-color: #3B6CC4;
}

.btnEliminarMemoria{
    background-color: #3598AE;
}

.btnLlamarMemoria{
    background-color:  #5587C2;
}

.btnClear{
    background-color: #D45C58;
}

/** Demas botones */
.btnOperaciones{
    background-color: #DFDFDF;
    color: #2B211A;
    width: 80%;
}

.btnIgual{
    width: 90%;
}

.btnPorcentaje{
    height: 100%;
}