/**
Divs generales 
*/
div#content{
    margin-left: 25%;
    margin-right:  25%;
    margin-top: 5%;
    background-color: #EEF5E8;
    border-style: solid;
    border-color: #000;
    
}
            
div#encendido{
    width: 100%;
    margin-top: 10px;
    text-align: right;
}
 
div#pantalla{
    width: 75%;
    height: 70%;
    text-align: right;
    background-color: #FFF;
    margin: auto;
    margin-top: 5%;
   border-style: solid;
    border-color: #DFDFDF; 
}

div#botones{
    margin: auto;
    margin-top:  10px;
    width: 80%;
}



/**Boton de encendido y apagado*/
.btnEncendido{
    width: 10%;
    font-size:80%; 
    margin-right: 12%;
    margin-top:  5%;
}

/**Tablas de los botones*/

table{
    margin: 0;
    width: 100%;
    text-align: center;
}

table#btnOperaciones{
    margin-top: 5px;
}

tabletr#btnOperaciones{
    margin: 2px;
} 



/**Clases de los botones de memoria*/
.btnMemoria{
    width:  80%;
    color: #fff;
}

.btnGuardarMemoria{
    background-color: #3B6CC4;
}

.btnEliminarMemoria{
    background-color: #3598AE;
}

.btnLlamarMemoria{
    background-color:  #5587C2;
}

.btnClear{
    background-color: #D45C58;
}

/** Demas botones */
.btnOperaciones{
    background-color: #DFDFDF;
    color: #2B211A;
    width: 80%;
}

.btnIgual{
    width: 90%;
}

.btnPorcentaje{
    height: 100%;
}